# Diretórios e arquivos do Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios e arquivos do Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.egg
dist/
build/

# Arquivos de ambiente virtual (virtualenv)
venv/
env/
.venv/

# Arquivos de configuração local
.env
.env.*

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Outros arquivos temporários
*.tmp
*.swp
